@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 240, 244, 240;
  --background-start-rgb: 10, 26, 10;
  --background-end-rgb: 26, 46, 26;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

